	body {
        margin: 0;
        padding: 0;  
		background: white;
		background-size: 100%;
		z-index: -1;
    }
	
	#title {
		margin: 10px auto;
		width: 100%;
		text-align: center;
		height: 100px;
	}
	
	#title a {
		text-decoration: none;
	}
	
	#titleLeft, #titleRight {
		color: #12B7E0;
		font-size: 3em;
		font-family: aldo, "Arial Black", Gadget, sans-serif;
		display: inline-block;
		height: 100%;
		line-height: 220%;
	}
	
	#title img {
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		height: 100%;
		vertical-align: top;
	}
	
	.horizontalLine {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		border: none;
	}
	
	.horizontalLine hr {
		height: 1px;
		color: lightgrey;
		background-color: #E2F7FC;
		border: none;
	}
	
	#nav {
		margin: 5px auto 5px auto;
		width: 80%;
		background-color: #12B7E0;
	}
	
	#barLogo {
		float: left;
		color: #12B7E0;
		font-family: aldo, "Arial Black", Gadget, sans-serif;
		font-size: 1.6em;
		display: none;
		background-color: white;
		height: 90%;
		margin-left: 20px;
		margin-top: 2px;
		cursor: default;
	}
	
	#barLogo a {
		text-decoration: none;
	}
	
	#barLogo img {
		float: left;
		height: 90%;
		display: inline;
		margin-top: 2.5px;
		margin-left: 5px;
	}
	
	#barLogoText {
		float: left;
		margin-top: 5px;
		margin-left: 5px;
		margin-right: 5px;
		color: #12B7E0;
	}
	
	#pullMenu{
		font-size: 1.5em;
		color: white;
		display: none;
		margin-left: auto;
		margin-right: auto;
		font-family: aldo, "Arial Black", Gadget, sans-serif;
		width: 100%;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
	}

	#pullMenu:hover {
		box-shadow: 0px 0px 3px #E2F7FC;
	}
	
	#navbar {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	
	#navbar li {
		display: inline-block;
		border-radius: 5px;
	}
	
	li a {
		display: inline-block;
		width: 100px;
		padding: 3px;
		text-decoration: none;
		color: white;
		font-family: aldo, "Arial Black", Gadget, sans-serif;
		font-size: 1.5em;
	}
	
	#blogButton a {
		background-color: white;
		color: #12B7E0 !important;
	}	
	
	#navbar li:hover {
		box-shadow: 0px 0px 3px #E2F7FC;
	}
	
	#body {
		width: 90%;
		margin: 50px auto;
	}

	#mainSection {
		width: 70%;
		display: inline-block;
		vertical-align: top;
		padding: 20px 0 20px 0;
		border-right: 1px solid #12B7E0;
		border-top: 1px solid #12B7E0;
	}
	
	.blog {
		font-family: Verdana, Geneva, sans-serif;
		color: #333333;
		margin: 30px auto;
	}
	
	.blogDate {
		font-size: 1em;
		background-color: #333333;
		color: white;
		padding: 5px 10px;
		text-align: center;
		display: inline-block;
		height: 40px;
		font-weight: bold;
		margin-left: 0;
	}
	
	.blogTitle {
		font-size: 2em;
		background-color: #12B7E0;
		color: white;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		font-family: aldo, "Arial Black", Gadget, sans-serif;
		padding: 5px 5px 5px 20px;
		display: inline-block;
		width: 60%;
		height: 40px;
		line-height: 40px;
		vertical-align: top;
	}
	
	.blogText {
		padding: 30px 20px 20px 30px;
		font-family: corbel;
		font-size: 1.2em;
	}
	
	.blogText br{
		margin-bottom: 10px;
	}
	
	.blogText img {
	display: block;
		width: 60%;
		border: 1px solid #12B7E0;
		margin: 5px auto 0 auto;
	}
	
	.blogText .code {
		display: block;
		margin: 10px 0 10px 10px;
		padding: 10px;
		font-style: italic;
		font-family: "Courier New", Verdana, sans-serif;
		background-color: rgb(245, 245, 245);
		border-radius: 5px;
		font-size: 0.9em;
	}
	
	.blogText .caption {
		display: block;
		margin: 2px auto 5px auto;
		text-align: center;
		font-style: italic;
		font-size: 0.9em;
	}
	
	.urdu {
		font-family: urdu;
		text-align: right;
	}
	
	#mainSection hr {
		width: 80%;
		color: #333333;
		background-color: #333333;
		border: none;
		height: 1px;
		margin: 20px auto;
	}
	
	#rightBar {
		width: calc(30% - 1px);
		background-color: #E2F7FC;
		display:inline-block;
		vertical-align: top;
	}
			
	#blogTitle {
		font-size: 1.5em;
		font-family: corbel, Verdana, Geneva, sans-serif;
		color: #333333;
		text-align: center;
		margin: 10px 0;
		font-weight: bold;
		width: 100%;
	}

	#blogTitle > img {
		width: 50%;
		box-sizing: border-box;
	}
	
	#blogDescription {
		font-style: italic;
		font-size: 0.9em;
		color: #333333;
		padding: 10px;
	}
	
	#search {
		margin: 10px auto;
	}
	
	#searchBox {
		font-size: 1em;
		font-family: Verdana, Geneva, sans-serif;
		color: #333333;
		padding: 5px 2%;
		margin-left: 2%;
		height: 25px;
		width: 77%;
		border: none;
		box-shadow: none;
	}
	
	#searchBox:focus {
		background-color: rgb(245, 245, 245);
	}
	
	#searchButton {
		color: black;
		font-size: 1.5em;
		display: inline-block;
		background-color: white;
		width: 15%;
		height: 35px;
		vertical-align: top;
		text-align: center;
		cursor: pointer;
	}
	
	#searchButton:hover {
		background-color: #eeeeee;
	}
	
	#searchButton:active {
		background-color: #bbbbbb;
	}
	
	#rightBar > ul::before {
		content: '▶ ';
		font-size: 0.7em;
	}

	#rightBar ul  {
		font-family: Verdana, Geneva, sans-serif;
		font-size: 0.9em;
		padding-left: 10px;
		color: #333333;
		cursor: pointer;
		margin-bottom: 20px;
	}
	#rightBar > ul:hover {
		color: #12B7E0;
	}
	#rightBar > ul.active::before {
		content: '▼ ';
	}
	#rightBar > ul > ul {
		padding-left: 20px;
		margin-top: 5px;
		display: none;
	}
	#rightBar > ul > ul::before {
		content: '▶ ';
		font-size: 0.7em;
	}
	#rightBar > ul > ul:hover {
		color: #12B7E0;
	}
	#rightBar > ul > ul.active::before {
		content: '▼ ';
	}
	#rightBar > ul > ul > li {
		padding-left: 30px;
		margin-top: 5px;
		list-style-type: ' ';
		list-style-position:inside;
		display: none;
	}
	#rightBar > ul > ul > li:hover {
		text-decoration: underline;
		color: #12B7E0;
	}
	
	.heading {
		margin-top: 30px;
		margin-bottom: 10px;
		font-family: aldo, Impact, Charcoal, sans-serif;
		font-size: 2em;
		color: #12B7E0;
		background-color: #E2F7FC;
		text-align: center;
	}
	
	.text  {
		font-size: 0.8em;
		font-family: Verdana, Geneva, sans-serif;
		color: #333333;
	}

	#pagesNav {
		width: 70%;
		display: inline-block;
		vertical-align: top;
		padding: 5px 0 5px 0;
		border-right: 1px solid #12B7E0;
		text-align: center;
	}
	
	.pagesButton {

		Border: 1px solid #12B7E0;
		margin-right: 10px;
		display: inline-block;
	}
		
	.pagesButton > a {
		text-decoration: none;
		font-size: inherit;
		Height: 15px;
		Width: 15px;
		color: black;
		padding: 5px;
		font-family: "Courier New", Verdana, sans-serif;
	}
	
	#bottom {
		background-color: #12B7E0;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 200px;
		color: white;
		font-family: aldo, Impact, Charcoal, sans-serif;
		margin-top: 50px;
		text-align: center;
		padding-top: 30px;
	}
	
	#creativePakistan {
		width: 100%;
		background-color: white;
		padding-top: 5px;
		margin: 0;
	}
	
	#creativePakistan img {
		width: 50%;
	}
	
	@media (max-width: 780px) {
		li a {
			width:78px;
			font-size: 1.27em;
		}
		#mainSection {
			display: block;
			width: 100%;
			border: none;
		}
		#rightBar {
			display: block;
			border-left: none;
			border-top: 2px solid #333333;
			width: 100%;
		}
		#blogTitle > img {
			width: 40%;
		}
		#pagesNav {
			border: 0;
			width: 100%;
		}
	}
	
	@media (max-width: 350px) {
		#title {
			height: 50px;
		}
		#titleLeft, #titleRight {
			font-size: 2em;
			line-height: 180%;
		}
		#barLogo {
			margin-left: 10px;
			margin-top: 5px;
			height: 80%;
		}
		#body {
			width: 100%;
		}
		#blogTitle > img {
			width: 60%;
		}	}
	
	@media (max-width: 600px) {		
		#navbar {
			display: none;
		}
		li a {
			width: 100%;
		}
		#pullMenu {
			display: block;
		}
		#creativePakistan img {
			width: 80%;
		}
		.blogTitle {
			font-size: 1.4em;
			padding-left: 10px;
		}
		.blog img {
			width: 90%;
		}
		.blog .caption {
			font-size: 0.7em;
		}
		.blog .code {
			font-size: 0.8em;
		}
	}
	
	@font-face {
		font-family: Aldo;
		src: url('aldotheapache.ttf');
	}
	
	@font-face {
		font-family: urdu;
		src: url('faiz.ttf');
	}
	
	#nav.navFixed {
		position: fixed;
		top: 0;
		left: 0;
		background-color: #12B7E0;
		width: 100%;
		margin-top: 0;
		height: 47px;
	}
	
	#navbar.navbarFixed {
		margin: 0.4em 20px 0 0;
		float: right;
	}
	
	#navbar.navbarTop {
		margin: 50px 0 0 0;
		background-color: #12B7E0;
	}

	#navbar li a.liaFixed {
		color: white;
	}
	
	.horizontalLineFixed {
		display: none;
	}
	
	#barLogo.barLogoFixed {
		display: inline;
	}
	
	#pullMenu.pullMenuFixed {
		float: right;
		color: white;
		margin: 10px 10px 0 0;
		width: 80px;
	}
	
	#navbar.shownavbar {
		display: block ;
		width: 100%;
	}
	
	#navbar li.showli {
		display: block;
	}