<!doctype html>
<html>
<head>
    <title>Template</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="jquery.min.js"></script>
	<script src="main.js"></script>
	<link rel="icon" type="image/png" href="images/fav.png">
    <link rel="stylesheet" type="text/css" href="template.css">  
</head>

<body>
	<div id="title">
		<a href="index.html">
		<div id="titleLeft">Saad</div>
		<img src="images/logo.png" alt="Saad Khan">
		<div id="titleRight">Khan</div>
		</a>
	</div>
	
	<div class="horizontalLine"><hr></div>
		
	<div id="nav">
		<div id="barLogo">
			<a href="index.html">
			<img src="images/logo.png">
			<div id="barLogoText">Saad Khan</div>
			</a>
		</div>
		<div id="pullMenu">≡  MENU</div>
		<ul id="navbar" class="navbar">
			<li id="blogButton"><a href="#">Blog</a></li>
			<li id="portfolioButton"><a href="#">Portfolio</a></li>
			<li id="aboutButton"><a href="#">About Me</a></li>
			<li id="contactButton"><a href="#">Contact</a></li>
		</ul>
	</div>
	
	<div class="horizontalLine"><hr></div>

	<div id="body">

	</div>
	
	<div id="bottom">
		<div id='creativePakistan'> <img src='images/pakistan.png'> </div>
		<h2>Saad Khan</h2>  
		<a href="aboutSite.html" style="color: white;">About the Site</a>
	</div>
	
</body>
</html>
