---
import logo from '../../public/logo.svg';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Saad Khan">
	<main>
		<img src={logo.src} />
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	img {
		display: block;
		width: 250px;
	}
</style>
