---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Wordle Finder">
  <main>
    <header>
      <h1>Wordle Word Finder</h1>
    </header>

    <div id="pattern">
      <input id="char-1" />
      <input id="char-2" />
      <input id="char-3" />
      <input id="char-4" />
      <input id="char-5" />
    </div>

    <hr />

    <div id="keyboard">
      <div class="row">
        <div id="Q">Q</div>
        <div id="W">W</div>
        <div id="E">E</div>
        <div id="R">R</div>
        <div id="T">T</div>
        <div id="Y">Y</div>
        <div id="U">U</div>
        <div id="I">I</div>
        <div id="O">O</div>
        <div id="P">P</div>
      </div>
      <div class="row">
        <div id="A">A</div>
        <div id="S">S</div>
        <div id="D">D</div>
        <div id="F">F</div>
        <div id="G">G</div>
        <div id="H">H</div>
        <div id="J">J</div>
        <div id="K">K</div>
        <div id="L">L</div>
      </div>
      <div class="row">
        <div id="Z">Z</div>
        <div id="X">X</div>
        <div id="C">C</div>
        <div id="V">V</div>
        <div id="B">B</div>
        <div id="N">N</div>
        <div id="M">M</div>
      </div>
    </div>

    <button id="find">Find</button>
  </main>
</Layout>

<script>
  const keys = document.querySelectorAll<HTMLDivElement>(
    "#keyboard > .row > div",
  );
  const inputs =
    document.querySelectorAll<HTMLInputElement>("#pattern > input");

  const inputMap = new Map<string, HTMLInputElement>();
  const keyMap = new Map<string, HTMLDivElement>();

  keys.forEach((key) => {
    keyMap.set(key.id, key);
  });

  const updateKeyStatus = (key: string): void => {
    const curr = keyMap.get(key);
    if (!curr) return;
    let status = "";
    for (const input of inputMap.values()) {
      if (input.value !== key) continue;
      status = input.className;
      if (status === "right") break;
    }
    curr.className = status;
  };

  inputs.forEach((input) => {
    inputMap.set(input.id, input);
    input.addEventListener("keydown", (e) => {
      const key = e.key.toUpperCase();
      const prevKey = input.value;
      if (e.key === "ArrowLeft") {
        e.preventDefault();
        const prev = input.previousElementSibling;
        if (prev instanceof HTMLInputElement) prev.focus();
      } else if (e.key === "ArrowRight") {
        e.preventDefault();
        const next = input.nextElementSibling;
        if (next instanceof HTMLInputElement) next.focus();
      } else if (e.key === "ArrowUp" || e.key === "ArrowDown") {
        e.preventDefault();
        if (keyMap.has(prevKey)) {
          input.className = input.className === "wrong" ? "right" : "wrong";
          updateKeyStatus(prevKey);
        }
      } else if (e.key === "Backspace") {
        e.preventDefault();
        input.value = "";
        input.className = "";
        updateKeyStatus(prevKey);
      } else if (keyMap.has(key)) {
        e.preventDefault();
        if (key === prevKey) return;
        input.value = key;
        input.className = "right";
        updateKeyStatus(key);
        updateKeyStatus(prevKey);
      }
    });
  });

  const button = document.getElementById("find");
  if (button instanceof HTMLButtonElement) {
    button.addEventListener("click", (_ev) => {
      button.blur();
    });
  }
</script>

<style>
  main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: var(--spacing-3);
    width: 100%;
    min-height: 100vh;
  }

  #keyboard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--spacing-2);

    & > .row {
      display: flex;
      gap: var(--spacing-2);
      flex-wrap: nowrap;
    }
  }

  #pattern {
    display: flex;
    gap: var(--spacing-2);
    justify-content: center;
    align-items: center;
    flex: 1;

    & > :global(input) {
      &:global(:hover),
      &:global(:focus) {
        outline-width: 2px;
        outline-offset: 5px;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .row > :global(div),
  #pattern > :global(input) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.25em;
    width: 50px;
    aspect-ratio: 1;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    outline-style: solid;
    outline-color: var(--fg-3);
    outline-width: 0px;
    outline-offset: 0px;
    text-align: center;

    &.right {
      background-color: var(--success-bg);
      color: var(--success-fg);
    }

    &.wrong {
      background-color: var(--warning-bg);
      color: var(--warning-fg);
    }
  }

  .row > :global(div) {
    background-color: var(--success-light-bg);
  }

  #find {
    all: unset;
    box-sizing: border-box;
    background-color: var(--error-bg);
    text-align: center;
    font-weight: 900;
    color: var(--error-color);
    border: 2px solid currentColor;
    padding: var(--spacing-2);
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    outline-style: solid;
    outline-color: currentColor;
    outline-width: 0px;
    outline-offset: 0px;

    &:global(:hover),
    &:global(:focus) {
      outline-width: 2px;
      outline-offset: 5px;
    }
  }
</style>
